/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #8bc34a;
    --bg-green: #4caf50;
}

h2{
    font-size: 30px;
    font-weight: 600;
    color: #444444;
}
h2, h3{
    color: #4444;
}
}

/*
===============
 Common CSS
===============
 */
.sec-title{
    text-align: center;
}
.sec-title .sub-title{
    font-size: 10px;
    color: #444444;
}

.sec-title h2 span{
    color: var(--main-color);
}
.bottom-style{
    position: relative;
    width: 40px;
    background-color: var(--main-color);
    height: 3px;
    margin: auto;
    top: 7px;
}
.bottom-style::after{
    content: '';
    position: absolute;
    left: -10px;
    right: -10px;
    background-color:#e8e8e8;
    height: 1px;
    top: 1px;
    z-index: -9;
}

/* Button */
.our-btn{
    padding: 17px 30px;
    background-color: var(--bg-green);
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
     border-radius: 30px;
     color: #fff;
     border: 1px solid #aeaeae;
     transition: .3s;
}
.our-btn:hover{
    text-decoration: none;
    background-color: #fff;
    color: var(--bg-green);    
}
.abt-btn .our-btn{
    background-color: #fff;
    color: var(--bg-green);
    border: 1px solid #4caf50;
    transition: .3s;
}
.abt-btn .our-btn:hover{
    background-color: var(--bg-green);
    color: white;
}

/*
===============
Header Area
===============
 */
 .top-content{
     display: flex;
     justify-content: space-between;
 }
.top-bar{
    background-color: #343434;
    color: #818080;
}
.top-left ul,
.top-right ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.top-left ul li,
.top-right ul li{
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;  
}
.top-left ul li{
    margin-right: 25px;
}
.top-left ul li i{
    margin-right: 6px;
}

.top-right ul li a {
    color: #7d7d7d;
    margin-left: 15px;
}
.top-right ul li a:hover{
   color: #fff;
}

/* menu-area */

.menu-area .navbar-light .navbar-nav li a {
    color: #444;
    font-weight: 600;
    font-size: 13px;
    margin-right: 15px;
    margin-left: 13px;
}
.menu-area .navbar-light .navbar-nav li a.active{
    color: var(--main-color);
}
.menu-area .navbar-light .navbar-nav li a:hover{
    color: var(--main-color);
}

/*
=================
Slider Area
=================
*/
a.hover{
    text-decoration: none;
}
.slider{
    position: relative;
}
.slider-item{
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 0;
}
.slider-item img{
    width: 100%;
}
.slider-item::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,.7);
    z-index: 1;
}
.slider-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.slider-content h2{
    color: #fff;
    font-size: 60px;
    margin-top: -17px;
    margin-bottom: 0;
}

.slider-content .para-1{
    font-size: 24px;
    font-weight: 300;
}

.slider-content .para-2{
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 60px;
}

.slider-btn .our-btn{
    margin-left: 15px;
    margin-right: 15px;
}

/* our bullet */
.our-bullet{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: absolute;
    z-index: 10;
    bottom: 30px;
    left: 0;
    right: 0;
    justify-content: center; 
}

.our-bullet li {
    margin-left: 5px;
    margin-right: 5px;
    width: 8px;
    height: 8px;
    background-color: #414141;
    border: 2px solid #414141;
}
.our-bullet li.active{
    border: 2px solid #a6a6a6;
}

/* Slider arrow */
.slider-arrow .left-arrow,
.slider-arrow .right-arrow{
    position: absolute;
    top: 50%;
    font: 40px;
    transform: translate(-50);
}
.slider-arrow .right-arrow {
    right: 30px;
}
.slider-arrow .left-arrow{
    left: 30px;
}
.slider-arrow .left-arrow a,
.slider-arrow .right-arrow a{
    color: #fff;
  
}
.slider-arrow .left-arrow a:hover,
.slider-arrow .right-arrow a:hover{
    color: var(--bg-green);
    text-decoration: none;
}

/*
======================
About
======================
*/
.about {
	margin-top: -100px;
}
.about-content .sec-title {
	text-align: left;
}
.abt-img {
	background: #4caf50;
}
.abt-img img {
	max-width: 100%;
	position: relative;
	top: 40px;
	left: 60px;
}
.about-content {
	padding-top: 100px;
	height: calc(100% + 40px);
}
.about-content .main-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.main-content {
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.about-content .abt-text {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* 
============
We do section
============
 */
 .do-part icon-item {
     font-size: 40px;
     color: #444444;
 }

 .do-part .do-title {

 }

 .do-part .do-content{

 }