/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #8bc34a;
}

h2{
    font-size: 30px;
    font-weight: 600;
    color: #444444;
}

/*
===============
 Common CSS
===============
 */
.sec-title{
    text-align: center;
}
.sec-title .sub-title{
    font-size: 10px;
    color: #444444;
}

.sec-title h2 span{
    color: var(--main-color);
}
.bottom-style{
    position: relative;
    width: 40px;
    background-color: var(--main-color);
    height: 3px;
    margin: auto;
    top: 7px;
}
.bottom-style::after{
    content: '';
    position: absolute;
    left: -10px;
    right: -10px;
    background-color:#e8e8e8;
    height: 1px;
    top: 1px;
    z-index: -9;
}


/*
===============
Header Area
===============
 */
 .top-content{
     display: flex;
     justify-content: space-between;
 }
.top-bar{
    background-color: #343434;
    color: #818080;
}
.top-left ul,
.top-right ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.top-left ul li,
.top-right ul li{
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;  
}
.top-left ul li{
    margin-right: 25px;
}
.top-left ul li i{
    margin-right: 6px;
}

.top-right ul li a {
    color: #7d7d7d;
    margin-left: 15px;
}
.top-right ul li a:hover{
   color: #fff;
}

/* menu-area */

.menu-area .navbar-light .navbar-nav li a {
    color: #444;
    font-weight: 600;
    font-size: 13px;
    margin-right: 15px;
    margin-left: 13px;
}
.menu-area .navbar-light .navbar-nav li a.active{
    color: var(--main-color);
}
.menu-area .navbar-light .navbar-nav li a:hover{
    color: var(--main-color);
}

/*
=================
Slider Area
=================
*/
.slider-item{
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 0;
}
.slider-item img{
    width: 100%;
}
.slider-item::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: red;
    z-index: 1;
}
.slider-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.slider-content h2{
    color: #fff;
}

.slider-content .para-1{

}

.slider-content .para-2{
    
}